body {
  margin: 0;
}

#header {
  margin-bottom: 1.8666666vw;
}

#header #container {
  width: 100%;
  height: 25.334vw;
  color: #ffffff;
  border-top: 1.333333333vw solid #572ee5;
}

#header #container #logo {
  float: left;
  margin: 7.7333333vw 0 4.58666vw 5.8666666vw;
}

#header #container #burger {
  float: right;
  margin: 12.5333333vw 6.9333333vw 9.066666vw 0;
}

#header #site-nav {
  display: none;
}

#header #site-nav #navLista {
  width: 100%;
  padding: 0;
  background-color: rgba(87, 46, 229, 0.9);
  opacity: 90%;
  height: 129.0666666vw;
  max-height: 129.0666666vw;
}

#header #site-nav #navLista li {
  position: relative;
  padding-top: 8.5333333vw;
  padding-bottom: 2.9333333vw;
  text-align: center;
  list-style-type: none;
  line-height: 7.8vw;
}

#header #site-nav #navLista li .borderLiItems {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 10.9334%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#header #site-nav #navLista li .liNavItem {
  color: #ffffff;
  font-size: 3.5vw;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

#header #site-nav #navLista #misGifosBtn .borderLiItems {
  display: none;
}

#header #site-nav #navLista #btnCrearGifos {
  display: none;
}

@media only screen and (min-width: 800px) {
  #header {
    height: 11.875vw;
    margin-bottom: 9.5vw;
  }
  #header #container {
    width: 100%;
    height: 11.25vw;
    color: rgba(255, 255, 255, 0.5);
    border-top: 0.625vw solid #572ee5;
    margin-top: 0;
  }
  #header #container #logo {
    float: left;
    margin: 2.875vw 0 1.6125vw 9.5vw;
  }
  #header #container #burger {
    display: none;
  }
  #header #site-nav {
    display: block;
    position: absolute;
    width: 50%;
    top: 0;
    left: 45%;
    margin-top: 0.625vw;
  }
  #header #site-nav #navLista {
    height: 11.25vw;
    width: 100%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  #header #site-nav #navLista li {
    position: relative;
    padding-top: 2vw;
    list-style-type: none;
    line-height: 7.8vw;
  }
  #header #site-nav #navLista li .borderLiItems {
    display: none;
    content: "";
    bottom: 0;
    height: 1px;
    width: 10.9334%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 2;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #header #site-nav #navLista li .liNavItem {
    color: #572EE5;
    font-size: 1.3vw;
    line-height: 1.6vw;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
  }
  #header #site-nav #navLista #misGifosBtn .borderLiItems {
    display: none;
  }
  #header #site-nav #navLista #btnCrearGifos {
    display: block;
  }
}

@media only screen and (min-width: 1440px) {
  #header {
    height: 6.598vw;
    margin-bottom: 5.2778vw;
  }
  #header #container {
    width: 100%;
    height: 6.251vw;
    color: rgba(255, 255, 255, 0.5);
    border-top: 0.347439371vw solid #572ee5;
    margin-top: 0;
  }
  #header #container #logo {
    float: left;
    margin: 1.59722vw 0 0.89583333vw 10.83333333vw;
  }
  #header #container #burger {
    display: none;
  }
  #header #site-nav {
    display: block;
    position: absolute;
    width: 35.625%;
    top: 0;
    left: 55.34722222222%;
    margin-top: 0.3472vw;
  }
  #header #site-nav #navLista {
    height: 6.251vw;
    width: 100%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  #header #site-nav #navLista li {
    position: relative;
    padding-top: 0vw;
    padding-bottom: 0;
    list-style-type: none;
    line-height: 1vw;
  }
  #header #site-nav #navLista li .borderLiItems {
    display: none;
    content: "";
    bottom: 0;
    height: 1px;
    width: 10.9334%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 2;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #header #site-nav #navLista li .liNavItem {
    color: #572EE5;
    font-size: 0.72222vw;
    line-height: 1vw;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  #header #site-nav #navLista #misGifosBtn .borderLiItems {
    display: none;
  }
  #header #site-nav #navLista #btnCrearGifos {
    display: block;
    width: 54px;
    height: 54px;
  }
}
/*# sourceMappingURL=style.css.map */