body {
  margin: 0;
}

#header {
  margin-bottom: 1.8666666vw;
}

#header #container {
  width: 100%;
  height: 25.334vw;
  color: #ffffff;
  border-top: 1.333333333vw solid #572ee5;
}

#header #container #logo {
  float: left;
  margin: 7.7333333vw 0 4.58666vw 5.8666666vw;
}

#header #container #burger {
  float: right;
  margin: 12.5333333vw 6.9333333vw 9.066666vw 0;
}

#header #site-nav {
  display: none;
}

#header #site-nav #navLista {
  z-index: 3;
  margin: 0;
  position: fixed;
  display: block;
  width: 100%;
  padding: 0;
  background-color: rgba(87, 46, 229, 0.9);
  height: 129.0666666vw;
  max-height: 129.0666666vw;
}

#header #site-nav #navLista li {
  position: relative;
  padding-top: 8.5333333vw;
  padding-bottom: 2.9333333vw;
  text-align: center;
  list-style-type: none;
  line-height: 7.8vw;
}

#header #site-nav #navLista li .borderLiItems {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 10.9334%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#header #site-nav #navLista li .liNavItem {
  color: #ffffff;
  font-size: 3.5vw;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

#header #site-nav #navLista #misGifosBtn .borderLiItems {
  display: none;
}

#header #site-nav #navLista #btnCrearGifos {
  display: none;
}

@media only screen and (min-width: 800px) {
  #header {
    height: 11.875vw;
    margin-bottom: 6.5vw;
  }
  #header #container {
    width: 100%;
    height: 11.25vw;
    color: rgba(255, 255, 255, 0.5);
    border-top: 0.625vw solid #572ee5;
    margin-top: 0;
  }
  #header #container #logo {
    float: left;
    margin: 2.875vw 0 1.6125vw 9.5vw;
  }
  #header #container #burger {
    display: none;
  }
  #header #site-nav {
    display: block;
    position: absolute;
    width: 50%;
    top: 0;
    left: 45%;
    margin-top: 0.625vw;
  }
  #header #site-nav #navLista {
    position: relative;
    height: 11.25vw;
    width: 100%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  #header #site-nav #navLista li {
    position: relative;
    padding-top: 2vw;
    list-style-type: none;
    line-height: 7.8vw;
  }
  #header #site-nav #navLista li .borderLiItems {
    display: none;
    content: "";
    bottom: 0;
    height: 1px;
    width: 10.9334%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 2;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #header #site-nav #navLista li .liNavItem {
    color: #572ee5;
    font-size: 1.3vw;
    line-height: 1.6vw;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
  }
  #header #site-nav #navLista #misGifosBtn .borderLiItems {
    display: none;
  }
  #header #site-nav #navLista #btnCrearGifos {
    display: block;
  }
}

@media only screen and (min-width: 1440px) {
  #header {
    height: 6.598vw;
    margin-bottom: 5.2778vw;
  }
  #header #container {
    width: 100%;
    height: 6.251vw;
    color: rgba(255, 255, 255, 0.5);
    border-top: 0.347439371vw solid #572ee5;
    margin-top: 0;
  }
  #header #container #logo {
    width: 4.10416666vw;
    height: 4.10416666vw;
    float: left;
    margin: 1.59722vw 0 0.89583333vw 10.83333333vw;
  }
  #header #container #burger {
    display: none;
  }
  #header #site-nav {
    display: block;
    position: absolute;
    width: 35.625%;
    top: 0;
    left: 55.34722222222%;
    margin-top: 0.3472vw;
  }
  #header #site-nav #navLista {
    height: 6.251vw;
    width: 100%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  #header #site-nav #navLista li {
    position: relative;
    padding-top: 0vw;
    padding-bottom: 0;
    list-style-type: none;
    line-height: 1vw;
  }
  #header #site-nav #navLista li .borderLiItems {
    display: none;
    content: "";
    bottom: 0;
    height: 1px;
    width: 10.9334%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 2;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #header #site-nav #navLista li .liNavItem {
    color: #572ee5;
    font-size: 0.72222vw;
    line-height: 1vw;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  #header #site-nav #navLista #misGifosBtn .borderLiItems {
    display: none;
  }
  #header #site-nav #navLista #btnCrearGifos {
    display: block;
    width: 54px;
    height: 54px;
  }
}

#buscadorGifos {
  width: 100%;
}

#buscadorGifos #titulo h1 {
  color: #572ee5;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 1.866666vw 11.73333333vw 8.26666666vw 12vw;
  font-size: 7vw;
  line-height: 9vw;
}

#buscadorGifos #titulo h1 #brTituloInicio {
  display: none;
}

#buscadorGifos #titulo h1 #GIFOSSpan {
  color: #30cac2;
}

#buscadorGifos #searchBar {
  margin-left: 5.333333vw;
  margin-right: 5.6vw;
}

#buscadorGifos #searchBar #pjsGifos {
  width: 72.8vw;
  margin-left: 8.266666vw;
  margin-right: 8vw;
  margin-bottom: 0;
  display: block;
}

#buscadorGifos #searchBar #barraContenedor {
  border: 1px solid #572ee5;
  border-radius: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 13.333333vw;
  margin-bottom: 8.26666666vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#buscadorGifos #searchBar #barraContenedor #barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#buscadorGifos #searchBar #barraContenedor #barra #buscarYMas {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin-left: 14.66666vw;
  margin-right: 6.4vw;
  color: #6b7989;
  width: 57.3333333vw;
  font-size: 3.5vw;
  line-height: 5vw;
  border: none;
}

#buscadorGifos #searchBar #barraContenedor #barra #lupa {
  margin-right: 5.3333333vw;
  width: 5.336vw;
  height: 5.336vw;
}

#buscadorGifos #searchBar #barraContenedor #barra #cruzAparece {
  display: none;
  margin-right: 5.33333333vw;
}

#buscadorGifos #searchBar #barraContenedor #separadorBusqueda {
  border-top: 1px solid #9cafc3;
  width: 80%;
  display: none;
}

#buscadorGifos #searchBar #barraContenedor #sugerenciasBusqueda {
  display: none;
  width: 100%;
}

#buscadorGifos #searchBar #barraContenedor #sugerenciasBusqueda .itemListaSugerido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#buscadorGifos #searchBar #barraContenedor #sugerenciasBusqueda .itemListaSugerido img {
  width: 15.8px;
  height: 15.8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.638888888vw;
}

#buscadorGifos #searchBar #barraContenedor #sugerenciasBusqueda .itemListaSugerido a p {
  font-family: "Roboto", sans-serif;
  margin: 0 0 0 1.013888888vw;
  color: #9cafc3;
}

#buscadorGifos #etiquetasInicio {
  color: #572ee5;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 12vw;
}

#buscadorGifos #etiquetasInicio #buscadorEtiquetasHome {
  font-size: 3.7vw;
  line-height: 6.8vw;
  margin: 0 18.4vw 0.5333333vw 18.666666vw;
  font-weight: bold;
}

#buscadorGifos #etiquetasInicio #etiquetasEjemplos {
  margin: 0 20vw 0 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#buscadorGifos #etiquetasInicio #etiquetasEjemplos #etiquetasEjemplosTexto {
  margin-right: 1vw;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 3.142vw;
  line-height: 6.8vw;
  text-transform: capitalize;
}

@media only screen and (min-width: 800px) {
  #buscadorGifos {
    width: 100%;
  }
  #buscadorGifos #titulo h1 {
    color: #572ee5;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 1.866666vw 11.73333333vw 5vw 12vw;
    font-size: 5vw;
    line-height: 7vw;
  }
  #buscadorGifos #titulo h1 #GIFOSSpan {
    color: #30cac2;
  }
  #buscadorGifos #searchBar {
    margin-left: 5.333333vw;
    margin-right: 5.6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #buscadorGifos #searchBar #pjsGifos {
    width: 60vw;
    display: block;
  }
  #buscadorGifos #searchBar #barraContenedor {
    border: 1px solid #572ee5;
    border-radius: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vw;
    margin-bottom: 6vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #buscadorGifos #searchBar #barraContenedor #barra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #buscadorGifos #searchBar #barraContenedor #barra #buscarYMas {
    padding: 0;
    margin-left: 14.66666vw;
    margin-right: 6.4vw;
    color: #6b7989;
    width: 57.3333333vw;
    font-size: 3.5vw;
    line-height: 5vw;
    border: none;
  }
  #buscadorGifos #searchBar #barraContenedor #barra #lupa {
    margin-right: 5.3333333vw;
    width: 5.336vw;
    height: 5.336vw;
  }
  #buscadorGifos #searchBar #barraContenedor #separadorBusqueda {
    border: 1px solid #9cafc3;
    width: 80%;
    display: none;
  }
  #buscadorGifos #searchBar #barraContenedor #sugerenciasBusqueda {
    display: none;
  }
  #etiquetasInicio {
    color: #572ee5;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 8vw;
  }
  #etiquetasInicio #buscadorEtiquetasHome {
    font-size: 3.7vw;
    line-height: 6.8vw;
    margin: 0 18.4vw 0.5333333vw 18.666666vw;
    font-weight: bold;
  }
  #etiquetasInicio #etiquetasEjemplos {
    margin: 0 20vw 0 20vw;
    font-weight: 500;
    font-size: 2.3vw;
    line-height: 6.8vw;
  }
}

@media only screen and (min-width: 1440px) {
  #buscadorGifos {
    width: 100%;
  }
  #buscadorGifos #titulo h1 {
    color: #572ee5;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0vw 17.56944444vw 1.66666666vw 17.56944444vw;
    font-size: 2vw;
    line-height: 3.5vw;
  }
  #buscadorGifos #titulo h1 #brTituloInicio {
    display: inline;
  }
  #buscadorGifos #titulo h1 #GIFOSSpan {
    color: #30cac2;
  }
  #buscadorGifos #searchBar {
    margin-left: 5.333333vw;
    margin-right: 5.6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #buscadorGifos #searchBar #pjsGifos {
    width: 27.7083333vw;
    height: 13.19444444vw;
    display: block;
  }
  #buscadorGifos #searchBar #barraContenedor {
    position: relative;
    border: 1px solid #572ee5;
    border-radius: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 3.47222222vw;
    width: 38.263888vw;
    margin-bottom: 5.06944444vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #buscadorGifos #searchBar #barraContenedor #barra {
    width: 38.263888vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #buscadorGifos #searchBar #barraContenedor #barra #buscarYMas {
    padding: 0;
    margin-left: 3.75vw;
    margin-right: 6.4vw;
    color: #6b7989;
    width: 80%;
    font-size: 1vw;
    line-height: 1vw;
    border: none;
  }
  #buscadorGifos #searchBar #barraContenedor #barra #lupa {
    margin-right: 1.38888888vw;
    width: 1.38888888vw;
    height: 1.38888888vw;
  }
  #buscadorGifos #searchBar #barraContenedor #barra #cruzAparece {
    margin-right: 1.59722222vw;
  }
  #buscadorGifos #searchBar #barraContenedor #separadorBusqueda {
    border: 1px solid #9cafc3;
    width: 80%;
    display: none;
  }
  #buscadorGifos #searchBar #barraContenedor #sugerenciasBusqueda {
    display: none;
  }
  #buscadorGifos #searchBar #barraContenedor #sugerenciasBusqueda .itemListaSugerido {
    margin-bottom: 0.34722222vw;
  }
  #buscadorGifos #etiquetasInicio {
    color: #572ee5;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 6.597222222vw;
  }
  #buscadorGifos #etiquetasInicio #buscadorEtiquetasHome {
    font-size: 1.3vw;
    line-height: 1.8vw;
    margin: 0 46.770833vw 0.4861vw 46.9097222222vw;
    font-weight: bold;
  }
  #buscadorGifos #etiquetasInicio #etiquetasEjemplos {
    margin: 0 30vw 0 30vw;
  }
  #buscadorGifos #etiquetasInicio #etiquetasEjemplos #etiquetasEjemplosTexto {
    text-align: center;
    font-weight: 500;
    font-size: 1.18vw;
    line-height: 1.8vw;
  }
  #buscadorGifos #etiquetasInicio #etiquetasEjemplos #etiquetasEjemplosTexto #brTextoTrending {
    display: none;
  }
}

#trendingGifos {
  background-color: #f3f5f8;
  margin-bottom: 12.533333333vw;
  position: relative;
}

#trendingGifos #textosTrending {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 12.26666666vw;
}

#trendingGifos #textosTrending #tituloTrendingGifos {
  color: #572ee5;
  font-size: 4.3vw;
  margin-top: 0;
  margin-bottom: 1.8666666vw;
  font-weight: bold;
  line-height: 8vw;
}

#trendingGifos #textosTrending #textoTrendingGifosMobile {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 3.7vw;
  line-height: 6.3vw;
  margin: 0 5.6vw 8.533333vw 5.6vw;
}

#trendingGifos #textosTrending #textoTrendingGifosDesktop {
  display: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 3.7vw;
  line-height: 6.3vw;
  margin: 0 5.6vw 8.533333vw 5.6vw;
}

#trendingGifos #carrusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#trendingGifos #carrusel #flechaIzquierda {
  display: none;
}

#trendingGifos #carrusel #carruselTrendingGifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  -ms-grid-columns: 64.8vw 64.8vw 64.8vw 64.8vw 64.8vw 64.8vw;
      grid-template-columns: 64.8vw 64.8vw 64.8vw 64.8vw 64.8vw 64.8vw;
  grid-gap: 5.866666666vw;
  margin-bottom: 21.8666666vw;
  height: 49.866667vw;
  margin-left: 5.86666666vw;
}

#trendingGifos #carrusel #carruselTrendingGifos .divHoverContenedor {
  position: relative;
}

#trendingGifos #carrusel #carruselTrendingGifos .divHoverContenedor .divHover {
  width: 41.6vw;
  height: 32vw;
  background-color: rgba(87, 46, 229, 0.8);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#trendingGifos #carrusel #carruselTrendingGifos .divHoverContenedor .imgBuscada {
  width: 64.8vw;
  height: 49.866667vw;
  margin: 0 2.9333333vw 0 2.9333333vw;
  display: block;
  z-index: 0;
}

#trendingGifos #flechaDerecha {
  display: none;
}

@media only screen and (min-width: 800px) {
  #trendingGifos {
    background-color: #f3f5f8;
    margin-bottom: 12.533333333vw;
    position: relative;
  }
  #trendingGifos #textosTrending {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-top: 12.26666666vw;
  }
  #trendingGifos #textosTrending #tituloTrendingGifos {
    color: #572ee5;
    font-size: 4.3vw;
    margin-top: 0;
    margin-bottom: 1.8666666vw;
    font-weight: bold;
    line-height: 8vw;
  }
  #trendingGifos #textosTrending #textoTrendingGifosMobile {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 3.7vw;
    line-height: 6.3vw;
    margin: 0 5.6vw 8.533333vw 5.6vw;
  }
  #trendingGifos #textosTrending #textoTrendingGifosDesktop {
    display: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 3.7vw;
    line-height: 6.3vw;
    margin: 0 5.6vw 8.533333vw 5.6vw;
  }
  #trendingGifos #carrusel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #trendingGifos #carrusel #flechaIzquierda {
    display: none;
  }
  #trendingGifos #carrusel #carruselTrendingGifos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 64.8vw 64.8vw 64.8vw;
        grid-template-columns: 64.8vw 64.8vw 64.8vw;
    grid-gap: 5.866666666vw;
    overflow: scroll;
    margin-bottom: 21.8666666vw;
    height: 49.866667vw;
    margin-left: 5.86666666vw;
  }
  #trendingGifos #carrusel #carruselTrendingGifos img {
    width: 64.8vw;
    height: 49.866667vw;
    margin: 0 2.9333333vw 0 2.9333333vw;
  }
  #trendingGifos #flechaDerecha {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  #trendingGifos {
    background-color: #f3f5f8;
    margin-bottom: 12.638888vw;
    position: relative;
  }
  #trendingGifos #textosTrending {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-top: 4.6527777vw;
  }
  #trendingGifos #textosTrending #tituloTrendingGifos {
    color: #572ee5;
    font-size: 1.8vw;
    margin-top: 0;
    margin-bottom: 0.8333333333vw;
    font-weight: bold;
    line-height: 2.1vw;
  }
  #trendingGifos #textosTrending #textoTrendingGifosMobile {
    display: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1vw;
    margin: 0 5.6vw 8.533333vw 5.6vw;
  }
  #trendingGifos #textosTrending #textoTrendingGifosMobile #brTrendingGifos {
    display: none;
  }
  #trendingGifos #textosTrending #textoTrendingGifosDesktop {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    line-height: 1.3vw;
    margin: 0 5.6vw 3.6805555vw 5.6vw;
  }
  #trendingGifos #textosTrending #textoTrendingGifosDesktop .brTrendingGifos {
    display: none;
  }
  #trendingGifos #carrusel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 6.527777vw;
    margin-bottom: 12.63888vw;
    margin-right: 6.3888888vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #trendingGifos #carrusel #flechaIzquierda {
    display: block;
    width: 2.777777777777778vw;
    height: 2.777777777777778vw;
  }
  #trendingGifos #carrusel #carruselTrendingGifos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 24.791666vw 24.791666vw 24.791666vw;
        grid-template-columns: 24.791666vw 24.791666vw 24.791666vw;
    grid-gap: 2.01388888vw;
    overflow: scroll;
    height: 19.0972222vw;
    margin-bottom: 0;
    margin-left: 1.527777vw;
    margin-right: 1.7361111vw;
  }
  #trendingGifos #carrusel #carruselTrendingGifos .divHoverContenedor {
    position: relative;
  }
  #trendingGifos #carrusel #carruselTrendingGifos .divHoverContenedor .divHover {
    width: 41.6vw;
    height: 32vw;
    background-color: rgba(87, 46, 229, 0.8);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  #trendingGifos #carrusel #carruselTrendingGifos .divHoverContenedor .imgBuscada {
    width: 24.792vw;
    height: 19.098vw;
    margin: 0;
    display: block;
    z-index: 0;
  }
  #trendingGifos #carrusel #flechaDerecha {
    display: block;
    width: 2.777777777777778vw;
    height: 2.777777777777778vw;
  }
}

#busqueda {
  display: none;
  margin-bottom: 21.06666666vw;
}

#busqueda #separador {
  width: 41.8666666vw;
  border: #9cafc3 1px solid;
  margin-left: 29.0666666vw;
  opacity: 50%;
  margin-bottom: 11.46666666vw;
}

#busqueda #tituloBusqueda {
  color: #572ee5;
  font-size: 4.3vw;
  margin-top: 0;
  margin-bottom: 10.133333vw;
  font-weight: bold;
  line-height: 10.666666666vw;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

#busqueda #galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 41.6vw 41.6vw;
      grid-template-columns: 41.6vw 41.6vw;
  -ms-grid-rows: 32vw 32vw 32vw 32vw 32vw 32vw;
      grid-template-rows: 32vw 32vw 32vw 32vw 32vw 32vw;
  margin: 0 5.6vw 0 5.6vw;
  grid-gap: 5.6vw;
  margin-bottom: 20.8vw;
}

#busqueda #galeria .divHoverContenedor {
  position: relative;
}

#busqueda #galeria .divHoverContenedor .divHover {
  width: 41.6vw;
  height: 32vw;
  background-color: rgba(87, 46, 229, 0.8);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#busqueda #galeria .divHoverContenedor #btnsPintadosDesktop #btnFavPintado {
  z-index: 1;
}

#busqueda #galeria .divHoverContenedor #btnsPintadosDesktop #btnDescargarPintado {
  z-index: 1;
}

#busqueda #galeria .divHoverContenedor #btnsPintadosDesktop #btnAmpliarPintado {
  z-index: 1;
}

#busqueda #galeria .divHoverContenedor .imgBuscada {
  width: 41.6vw;
  height: 32vw;
  display: block;
  z-index: 0;
}

#busqueda #busquedaFallida {
  display: none;
}

#busqueda #btnVerMas {
  width: 33.8666666vw;
  height: 13.3333333vw;
  margin-left: 33.066666vw;
}

.imgBuscada:hover ~ .divHover {
  display: block;
}

@media only screen and (min-width: 1440px) {
  #busqueda {
    margin-bottom: 5.486111111vw;
  }
  #busqueda #separador {
    width: 23.4722222vw;
    border: #9cafc3 1px solid;
    margin-left: 38.2638888vw;
    opacity: 50%;
    margin-bottom: 5.6875vw;
  }
  #busqueda #tituloBusqueda {
    color: #572ee5;
    font-size: 2.430555vw;
    margin-top: 0;
    margin-bottom: 4.09722222vw;
    font-weight: bold;
    line-height: 2.1vw;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  #busqueda #galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 18.0555555vw 18.0555555vw 18.0555555vw 18.0555555vw;
        grid-template-columns: 18.0555555vw 18.0555555vw 18.0555555vw 18.0555555vw;
    -ms-grid-rows: 13.888888vw 13.888888vw 13.888888vw;
        grid-template-rows: 13.888888vw 13.888888vw 13.888888vw;
    margin: 0 10.90277777vw 5.416666666vw 10.83333vw;
    grid-gap: 2.013888vw;
  }
  #busqueda #galeria .divHoverContenedor {
    position: relative;
  }
  #busqueda #galeria .divHoverContenedor .divHover {
    width: 18.0555555vw;
    height: 13.888888vw;
    background-color: rgba(87, 46, 229, 0.8);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  #busqueda #galeria .divHoverContenedor .divHover #btnsPintadosDesktop {
    margin: 0.6944444vw 0.6944444vw 6.25vw 9.2361111111vw;
  }
  #busqueda #galeria .divHoverContenedor .divHover #btnsPintadosDesktop #btnFavPintado {
    width: 2.222222vw;
    height: 2.222222vw;
  }
  #busqueda #galeria .divHoverContenedor .divHover #btnsPintadosDesktop #btnDescargarPintado {
    width: 2.222222vw;
    height: 2.222222vw;
    margin-left: 0.4166666vw;
  }
  #busqueda #galeria .divHoverContenedor .divHover #btnsPintadosDesktop #btnAmpliarPintado {
    width: 2.222222vw;
    height: 2.222222vw;
    margin-left: 0.4166666vw;
  }
  #busqueda #galeria .divHoverContenedor .divHover #infoImgPintDesktop {
    margin-left: 0.90277777vw;
  }
  #busqueda #galeria .divHoverContenedor .divHover #infoImgPintDesktop #usuarioPintado {
    font-size: 0.88vw;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    margin-bottom: 0.34722222vw;
  }
  #busqueda #galeria .divHoverContenedor .divHover #infoImgPintDesktop #tituloPintado {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1vw;
    margin: 0;
  }
  #busqueda #galeria .divHoverContenedor .imgBuscada {
    width: 18.0555555vw;
    height: 13.888888vw;
    display: block;
    z-index: 0;
  }
  #busqueda #btnVerMas {
    width: 8.81944444vw;
    height: 3.47222222vw;
    margin-left: 45.625vw;
  }
  #busquedaFallida #imgBusquedaFallida {
    margin-left: 44.79166666vw;
    margin-top: 7.5694444vw;
    margin-bottom: 2.013888888vw;
  }
  #busquedaFallida #textoBusquedaFallida {
    text-align: center;
    font-size: 1.25vw;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #50e3c2;
    line-height: 1.78vw;
    margin-top: 0;
    margin-bottom: 10.34722vw;
  }
}

#infoFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 12.53333vw;
  border-bottom: 1.333333333vw solid #572ee5;
}

#infoFooter #textoFooter {
  font-size: 3.3vw;
  margin-bottom: 6.4vw;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
}

#infoFooter #iconosRedesSociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 37.333333333vw;
  margin-right: 37.333333333vw;
}

#infoFooter #iconosRedesSociales a {
  width: 5.333333333vw;
  height: 5.33333333vw;
  margin-bottom: 12.266666vw;
}

#infoFooter #iconosRedesSociales a img {
  width: 5.333333333vw;
  height: 5.33333333vw;
}

#infoFooter #marcaCopyrightGifos {
  font-family: "Roboto", sans-serif;
  font-size: 3vw;
  line-height: 5.35vw;
  margin-bottom: 6.133333333vw;
  margin-top: 0;
}

@media only screen and (min-width: 800px) {
  #infoFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 6vw;
    border-bottom: 1.333333333vw solid #572ee5;
  }
  #infoFooter #textoFooter {
    font-size: 2.3vw;
    margin-bottom: 4vw;
    margin-top: 0;
    font-family: "Roboto", sans-serif;
  }
  #infoFooter #iconosRedesSociales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 37.333333333vw;
    margin-right: 37.333333333vw;
  }
  #infoFooter #iconosRedesSociales a {
    width: 4vw;
    height: 4vw;
    margin-bottom: 4vw;
  }
  #infoFooter #iconosRedesSociales a img {
    width: 4vw;
    height: 4vw;
  }
  #infoFooter #marcaCopyrightGifos {
    font-family: "Roboto", sans-serif;
    font-size: 2.1vw;
    line-height: 5.35vw;
    margin-bottom: 6.133333333vw;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1440px) {
  #infoFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    padding-top: 3.4375vw;
    border-bottom: 0.3541666vw solid #572ee5;
  }
  #infoFooter #textoFooter {
    height: 1.04166666vw;
    padding: 0;
    font-size: 0.9027777vw;
    line-height: 1.04166666vw;
    margin-bottom: 3.57638888vw;
    margin-top: 0;
    margin-left: 10.833333vw;
    font-family: "Roboto", sans-serif;
  }
  #infoFooter #iconosRedesSociales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 1.1805555vw;
    margin-right: 51.04166666vw;
    width: 6.805555555vw;
  }
  #infoFooter #iconosRedesSociales a {
    width: 1.388888888vw;
    height: 1.40277777vw;
    margin-bottom: 3.57638888vw;
  }
  #infoFooter #iconosRedesSociales a img {
    width: 1.388888888vw;
    height: 1.40277777vw;
  }
  #infoFooter #marcaCopyrightGifos {
    font-family: "Roboto", sans-serif;
    font-size: 0.9027777vw;
    line-height: 1.04166666vw;
    margin-bottom: 3.57638888vw;
    margin-top: 0;
  }
}

#sectionFavoritos {
  margin-top: 1.333333333vw;
}

#sectionFavoritos #corFavPrin {
  margin-left: 50vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 1.8666666666vw;
}

#sectionFavoritos #tituloFavoritos {
  color: #572ee5;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 4.3vw;
  line-height: 7.8vw;
  text-align: center;
  margin-bottom: 12.2666666vw;
}

#sectionFavoritos #galeriaFav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 41.6vw 41.6vw;
      grid-template-columns: 41.6vw 41.6vw;
  -ms-grid-rows: 32vw 32vw 32vw 32vw 32vw 32vw;
      grid-template-rows: 32vw 32vw 32vw 32vw 32vw 32vw;
  margin: 0 5.6vw 0 5.6vw;
  grid-gap: 5.6vw;
  margin-bottom: 20.8vw;
}

#sectionFavoritos #galeriaFav img {
  width: 41.6vw;
  height: 32vw;
}

#sectionFavoritos #btnVerMasFav {
  width: 33.8666666vw;
  height: 13.3333333vw;
  margin-left: 33.066666vw;
  margin-bottom: 20.8vw;
}

@media only screen and (min-width: 1440px) {
  #sectionFavoritos {
    margin-bottom: 5.486111111vw;
  }
  #sectionFavoritos #tituloFavoritos {
    color: #572ee5;
    font-size: 2.430555vw;
    margin-top: 0;
    margin-bottom: 4.09722222vw;
    font-weight: bold;
    line-height: 2.1vw;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  #sectionFavoritos #galeriaFav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 18.0555555vw 18.0555555vw 18.0555555vw 18.0555555vw;
        grid-template-columns: 18.0555555vw 18.0555555vw 18.0555555vw 18.0555555vw;
    -ms-grid-rows: 13.888888vw 13.888888vw 13.888888vw;
        grid-template-rows: 13.888888vw 13.888888vw 13.888888vw;
    margin: 0 10.90277777vw 5.416666666vw 10.83333vw;
    grid-gap: 2.013888vw;
  }
  #sectionFavoritos #galeriaFav .divHoverContenedor {
    position: relative;
  }
  #sectionFavoritos #galeriaFav .divHoverContenedor .divHover {
    width: 41.6vw;
    height: 32vw;
    background-color: rgba(87, 46, 229, 0.8);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  #sectionFavoritos #galeriaFav .divHoverContenedor .imgBuscada {
    width: 18.0555555vw;
    height: 13.888888vw;
    display: block;
    z-index: 0;
  }
  #sectionFavoritos #btnVerMasFav {
    width: 8.81944444vw;
    height: 3.47222222vw;
    margin-left: 45.625vw;
  }
}

#sectionMisGifos {
  margin-top: 1.333333333vw;
}

#sectionMisGifos #icon_MisGifos {
  margin-left: 50vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 1.6vw;
}

#sectionMisGifos #tituloMisGifos {
  color: #572ee5;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 4.3vw;
  line-height: 7.8vw;
  text-align: center;
  margin-bottom: 12.2666666vw;
}

#sectionMisGifos #galeriaMisGifos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 41.6vw 41.6vw;
      grid-template-columns: 41.6vw 41.6vw;
  -ms-grid-rows: 32vw 32vw 32vw 32vw;
      grid-template-rows: 32vw 32vw 32vw 32vw;
  margin: 0 5.6vw 0 5.6vw;
  grid-gap: 5.6vw;
  margin-bottom: 20.8vw;
}

#sectionMisGifos #galeriaMisGifos img {
  width: 41.6vw;
  height: 32vw;
}

#sectionMisGifos #btnVerMasMisGifos {
  width: 33.8666666vw;
  height: 13.3333333vw;
  margin-left: 33.066666vw;
  margin-bottom: 20.8vw;
}

@media only screen and (min-width: 1440px) {
  #sectionMisGifos {
    margin-bottom: 5.486111111vw;
  }
  #sectionMisGifos #tituloMisGifos {
    color: #572ee5;
    font-size: 2.430555vw;
    margin-top: 0;
    margin-bottom: 4.09722222vw;
    font-weight: bold;
    line-height: 2.1vw;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  #sectionMisGifos #galeriaMisGifos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 18.0555555vw 18.0555555vw 18.0555555vw 18.0555555vw;
        grid-template-columns: 18.0555555vw 18.0555555vw 18.0555555vw 18.0555555vw;
    -ms-grid-rows: 13.888888vw 13.888888vw 13.888888vw;
        grid-template-rows: 13.888888vw 13.888888vw 13.888888vw;
    margin: 0 10.90277777vw 5.416666666vw 10.83333vw;
    grid-gap: 2.013888vw;
  }
  #sectionMisGifos #galeriaMisGifos .divHoverContenedor {
    position: relative;
  }
  #sectionMisGifos #galeriaMisGifos .divHoverContenedor .divHover {
    width: 18.0555555vw;
    height: 13.888888vw;
    background-color: rgba(87, 46, 229, 0.8);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  #sectionMisGifos #galeriaMisGifos .divHoverContenedor .imgBuscada {
    width: 18.0555555vw;
    height: 13.888888vw;
    display: block;
    z-index: 0;
  }
  #sectionMisGifos #btnVerMasMisGifos {
    width: 8.81944444vw;
    height: 3.47222222vw;
    margin-left: 45.625vw;
  }
}

#sectionImagenAmplificada {
  display: none;
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15.73333333vw 7.4666666vw 33.6vw  7.733333vw;
}

#sectionImagenAmplificada #cruzImgAmplificada {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 6.4vw;
  margin-bottom: 20.8vw;
}

#sectionImagenAmplificada #cruzImgAmplificada #cruzImgAmplificadaBtn {
  height: 3.73333vw;
  width: 3.68vw;
  padding: 1.333333vw;
}

#sectionImagenAmplificada #imgAmplificadaCtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sectionImagenAmplificada #imgAmplificadaCtn #imgAmplificada {
  width: 84.8vw;
  height: 65.333333vw;
  margin-bottom: 3.733333vw;
}

#sectionImagenAmplificada #imgAmplificadaCtn #pieDeImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#sectionImagenAmplificada #imgAmplificadaCtn #pieDeImg #infoUsuario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sectionImagenAmplificada #imgAmplificadaCtn #pieDeImg #infoUsuario #nombreUsuario {
  margin-bottom: 1.6vw;
  margin-top: 0;
  margin-left: 1.6vw;
  font-size: 3.3vw;
  line-height: 4.8vw;
  font-family: "Roboto", sans-serif;
}

#sectionImagenAmplificada #imgAmplificadaCtn #pieDeImg #infoUsuario #tituloGif {
  margin: 0;
  font-size: 3.5vw;
  font-family: "Montserrat", sans-serif;
  line-height: 5.2vw;
  font-weight: bold;
  margin-left: 0.13333333vw;
}

#sectionImagenAmplificada #imgAmplificadaCtn #pieDeImg #botonesImgAmpliada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sectionImagenAmplificada #imgAmplificadaCtn #pieDeImg #botonesImgAmpliada img {
  width: 9.06666666vw;
  height: 9.06666666vw;
}

#sectionImagenAmplificada #imgAmplificadaCtn #pieDeImg #botonesImgAmpliada #btnDescargarImgAmpliada {
  border-radius: 1vw;
  border: 1px solid rgba(156, 175, 195, 0.5);
  margin-left: 7.7333333vw;
}
/*# sourceMappingURL=style.css.map */