//Buscador GIFOS mobile:
#buscadorGifos {
  width: 100%;
  #titulo {
    h1 {
      color: #572ee5;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      text-align: center;
      margin: 1.866666vw 11.73333333vw 8.26666666vw 12vw;
      font-size: 7vw;
      line-height: 9vw;
      #brTituloInicio {
        display: none;
      }
      #GIFOSSpan {
        color: rgb(48, 202, 194);
      }
    }
  }
  #searchBar {
    margin-left: 5.333333vw;
    margin-right: 5.6vw;
    #pjsGifos {
      width: 72.8vw;
      margin-left: 8.266666vw;
      margin-right: 8vw;
      margin-bottom: 0;
      display: block;
    }
    #barraContenedor {
      border: 1px solid #572ee5;
      border-radius: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 13.333333vw;
      margin-bottom: 8.26666666vw;
      flex-direction: column;
      #barra {
        display: flex;
        #buscarYMas {
          font-family: "Roboto", sans-serif;
          padding: 0;
          margin-left: 14.66666vw;
          margin-right: 6.4vw;
          color: #6b7989;
          width: 57.3333333vw;
          font-size: 3.5vw;
          line-height: 5vw;
          border: none;
        }
        #lupa {
          margin-right: 5.3333333vw;
          width: 5.336vw;
          height: 5.336vw;
        }
        #cruzAparece {
          display: none;
        }
      }
      #separadorBusqueda {
        border-top: 1px solid #9cafc3;
        width: 80%;
        display: none;
      }
      #sugerenciasBusqueda {
        display: none;
        width: 100%;
        .itemListaSugerido {
          display: flex;
          img {
            width: 15.8px;
            height: 15.8px;
            align-items: center;
            margin-left: 1.638888888vw;
          }
          a {
            p {
              font-family: "Roboto", sans-serif;
              margin: 0 0 0 1.013888888vw;
              color: #9CAFC3;
            }
          }
        }
      }
    }
  }
  #etiquetasInicio {
    color: #572ee5;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 12vw;
    #buscadorEtiquetasHome {
      font-size: 3.7vw;
      line-height: 6.8vw;
      margin: 0 18.4vw 0.5333333vw 18.666666vw;
      font-weight: bold;
    }
    #etiquetasEjemplos {
      margin: 0 20vw 0 20vw;
      font-weight: 500;
      font-size: 3.142vw;
      line-height: 6.8vw;
      text-transform: capitalize;
    }
  }
}

//Buscador GIFOS tablet:
@media only screen and (min-width: 800px) {
  #buscadorGifos {
    width: 100%;
    #titulo {
      h1 {
        color: #572ee5;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        text-align: center;
        margin: 1.866666vw 11.73333333vw 5vw 12vw;
        font-size: 5vw;
        line-height: 7vw;
        #GIFOSSpan {
          color: rgb(48, 202, 194);
        }
      }
    }
    #searchBar {
      margin-left: 5.333333vw;
      margin-right: 5.6vw;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      #pjsGifos {
        width: 60vw;
        display: block;
      }
      #barraContenedor {
        border: 1px solid #572ee5;
        border-radius: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vw;
        margin-bottom: 6vw;
        flex-direction: column;
        #barra {
          display: flex;
          #buscarYMas {
            padding: 0;
            margin-left: 14.66666vw;
            margin-right: 6.4vw;
            color: #6b7989;
            width: 57.3333333vw;
            font-size: 3.5vw;
            line-height: 5vw;
            border: none;
          }
          #lupa {
            margin-right: 5.3333333vw;
            width: 5.336vw;
            height: 5.336vw;
          }
        }
        #separadorBusqueda {
          border: 1px solid #9cafc3;
          width: 80%;
          display: none;
        }
        #sugerenciasBusqueda {
          display: none;
        }
      }
    }
  }
  #etiquetasInicio {
    color: #572ee5;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 8vw;
    #buscadorEtiquetasHome {
      font-size: 3.7vw;
      line-height: 6.8vw;
      margin: 0 18.4vw 0.5333333vw 18.666666vw;
      font-weight: bold;
    }
    #etiquetasEjemplos {
      margin: 0 20vw 0 20vw;
      font-weight: 500;
      font-size: 2.3vw;
      line-height: 6.8vw;
    }
  }
}

//Buscador GIFOS desktop:
@media only screen and (min-width: 1440px) {
  #buscadorGifos {
    width: 100%;
    #titulo {
      h1 {
        color: #572ee5;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        text-align: center;
        margin: 0vw 17.56944444vw 1.66666666vw 17.56944444vw;
        font-size: 2vw;
        line-height: 3.5vw;
        #brTituloInicio {
          display: inline;
        }
        #GIFOSSpan {
          color: rgb(48, 202, 194);
        }
      }
    }
    #searchBar {
      margin-left: 5.333333vw;
      margin-right: 5.6vw;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      #pjsGifos {
        width: 27.7083333vw;
        height: 13.19444444vw;
        display: block;
      }
      #barraContenedor {
        position: relative;
        border: 1px solid #572ee5;
        border-radius: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.47222222vw;
        width: 38.263888vw;
        margin-bottom: 5.06944444vw;
        flex-direction: column;
        #barra {
          width: 38.263888vw;
          display: flex;
          #buscarYMas {
            padding: 0;
            margin-left: 3.75vw;
            margin-right: 6.4vw;
            color: #6b7989;
            width: 80%;
            font-size: 1vw;
            line-height: 1vw;
            border: none;
          }
          #lupa {
            margin-right: 1.38888888vw;
            width: 1.38888888vw;
            height: 1.38888888vw;
          }
        }
        #separadorBusqueda {
          border: 1px solid #9cafc3;
          width: 80%;
          display: none;
        }
        #sugerenciasBusqueda {
          display: none;
        }
      }
    }
    #etiquetasInicio {
      color: #572ee5;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 6.597222222vw;
      #buscadorEtiquetasHome {
        font-size: 1.3vw;
        line-height: 1.8vw;
        margin: 0 46.770833vw 0.4861vw 46.9097222222vw;
        font-weight: bold;
      }
      #etiquetasEjemplos {
        text-align: center;
        font-weight: 500;
        font-size: 1.18vw;
        line-height: 1.8vw;
        #brTextoTrending {
          display: none;
        }
      }
    }
  }
}
