//Trending GIFOS mobile:
#trendingGifos {
  background-color: #f3f5f8;
  margin-bottom: 12.533333333vw;
  position: relative;
  #textosTrending {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-top: 12.26666666vw;
    #tituloTrendingGifos {
      color: #572ee5;
      font-size: 4.3vw;
      margin-top: 0;
      margin-bottom: 1.8666666vw;
      font-weight: bold;
      line-height: 8vw;
    }
    #textoTrendingGifosMobile {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 3.7vw;
      line-height: 6.3vw;
      margin: 0 5.6vw 8.533333vw 5.6vw;
    }
    #textoTrendingGifosDesktop {
      display: none;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 3.7vw;
      line-height: 6.3vw;
      margin: 0 5.6vw 8.533333vw 5.6vw;
    }
  }
  #carrusel {
    display: flex;
    #flechaIzquierda {
      display: none;
    }
    #carruselTrendingGifos {
      display: grid;
      grid-template-columns: 64.8vw 64.8vw 64.8vw;
      grid-gap: 5.866666666vw;
      overflow: scroll;
      margin-bottom: 21.8666666vw;
      height: 49.866667vw;
      margin-left: 5.86666666vw;
      img {
        width: 64.8vw;
        height: 49.866667vw;
        margin: 0 2.9333333vw 0 2.9333333vw;
      }
    }
  }
  #flechaDerecha {
    display: none;
  }
}

//Trending GIFOS tablet:
@media only screen and (min-width: 800px) {
  #trendingGifos {
    background-color: #f3f5f8;
    margin-bottom: 12.533333333vw;
    position: relative;
    #textosTrending {
      font-family: "Montserrat", sans-serif;
      text-align: center;
      padding-top: 12.26666666vw;
      #tituloTrendingGifos {
        color: #572ee5;
        font-size: 4.3vw;
        margin-top: 0;
        margin-bottom: 1.8666666vw;
        font-weight: bold;
        line-height: 8vw;
      }
      #textoTrendingGifosMobile {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 3.7vw;
        line-height: 6.3vw;
        margin: 0 5.6vw 8.533333vw 5.6vw;
      }
      #textoTrendingGifosDesktop {
        display: none;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 3.7vw;
        line-height: 6.3vw;
        margin: 0 5.6vw 8.533333vw 5.6vw;
      }
    }
    #carrusel {
      display: flex;
      #flechaIzquierda {
        display: none;
      }
      #carruselTrendingGifos {
        display: grid;
        grid-template-columns: 64.8vw 64.8vw 64.8vw;
        grid-gap: 5.866666666vw;
        overflow: scroll;
        margin-bottom: 21.8666666vw;
        height: 49.866667vw;
        margin-left: 5.86666666vw;
        img {
          width: 64.8vw;
          height: 49.866667vw;
          margin: 0 2.9333333vw 0 2.9333333vw;
        }
      }
    }
    #flechaDerecha {
      display: none;
    }
  }
}

//Trending GIFOS desktop:
@media only screen and (min-width: 1440px) {
  #trendingGifos {
    background-color: #f3f5f8;
    margin-bottom: 12.638888vw;
    position: relative;
    #textosTrending {
      font-family: "Montserrat", sans-serif;
      text-align: center;
      padding-top: 4.6527777vw;
      #tituloTrendingGifos {
        color: #572ee5;
        font-size: 1.8vw;
        margin-top: 0;
        margin-bottom: 0.8333333333vw;
        font-weight: bold;
        line-height: 2.1vw;
      }
      #textoTrendingGifosMobile {
        display: none;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1vw;
        line-height: 1vw;
        margin: 0 5.6vw 8.533333vw 5.6vw;
        #brTrendingGifos {
          display: none;
        }
      }
      #textoTrendingGifosDesktop {
        display: block;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1.3vw;
        line-height: 1.3vw;
        margin: 0 5.6vw 3.6805555vw 5.6vw;
        .brTrendingGifos {
          display: none;
        }
      }
    }
    #carrusel {
      display: flex;
      margin-left: 6.527777vw;
      margin-bottom: 12.63888vw;
      margin-right: 6.3888888vw;
      align-items: center;
      #flechaIzquierda {
        display: block;
        width: 2.777777777777778vw;
        height: 2.777777777777778vw;
      }
      #carruselTrendingGifos {
        display: grid;
        grid-template-columns: 24.791666vw 24.791666vw 24.791666vw;
        grid-gap: 2.01388888vw;
        overflow: scroll;
        height: 19.0972222vw;
        margin-bottom: 0;
        margin-left: 1.527777vw;
        margin-right: 1.7361111vw;
        .imgBuscadaCarrusel {
          width: 24.792vw;
          height: 19.098vw;
          margin: 0;
        }
        #imagenCarrusel1 {
          margin-left: 0;
        }
        #imagenCarrusel3 {
          margin-right: 1.736111vw;
        }
      }
      #flechaDerecha {
        display: block;
        width: 2.777777777777778vw;
        height: 2.777777777777778vw;
      }
    }
  }
}
